<h4>My Profile</h4>

<!-- animationDuration="0ms" => disable the effect of ripple -->

<div class="matTabsDiv">
    <mat-tab-group animationDuration="0ms">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">person</mat-icon>
                Personal Details
            </ng-template>
            <mat-card class="cardBackground">
                <!-- (ngSubmit)="onSubmit()" -->
                <div class="btnDiv">
                    <!-- <button class="btn btn-primary custmBtn" type="submit" >{{btnName}}</button> -->
                    <!-- <button *ngIf="disableProfileForm" class="btn btn-primary custmBtn" type="submit" (click)="clikedOnEdit()">Edit</button>
                    <button *ngIf="!disableProfileForm" class="btn btn-primary custmBtn" type="submit"(click)="clikedOnUpdate()">Update</button>   -->

                    <button mat-fab color="primary" class="fabBtn" *ngIf="disableProfileForm" (click)="clikedOnEdit()">
                        <mat-icon class="editAndsaveIcon">edit</mat-icon>
                    </button>

                    <button mat-fab color="primary" class="fabBtn" *ngIf="!disableProfileForm"
                        (click)="clikedOnUpdate()">
                        <mat-icon class="editAndsaveIcon">save</mat-icon>
                    </button>

                </div>
                <br>

                <form [formGroup]="profileForm" novalidate>
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-4">
                            <label>First Name <span class="starColor">*</span></label>
                            <input type="text" style="border: none; border-bottom:1px solid #21252994;"
                                class="form-control" name="name" formControlName="firstName" [(ngModel)]="cdf_fname">
                            <div *ngIf="profileForm.get('firstName').errors?.required && submitted"
                                class="invalid-tooltip">Name is required!</div>
                        </div>
                        <div class="col-12 col-lg-6 mb-4">
                            <label>Last Name <span class="starColor">*</span></label>
                            <input type="text" style="border: none; border-bottom:1px solid #21252994;"
                                class="form-control" name="name" formControlName="lastName" [(ngModel)]="cdf_lname">
                            <div *ngIf="profileForm.get('lastName').errors?.required && submitted"
                                class="invalid-tooltip">Last Name is required!</div>
                        </div>
                        <div class="col-12 col-lg-6 mb-4">
                            <label>Date Of Birth <span class="starColor">*</span></label>
                            <input type="date" style="border: none; border-bottom:1px solid #21252994;"
                                class="form-control" name="name" formControlName="dob" [(ngModel)]="cdf_dob">
                            <div *ngIf="profileForm.get('dob').errors?.required && submitted" class="invalid-tooltip">
                                Date Of Birth is required!</div>
                        </div>

                        <div class="col-12 col-lg-6 mb-4">
                            <label>Contry<span class="starColor">*</span> </label>
                            <select class="form-control" style="border: none; border-bottom:1px solid #21252994;"
                                formControlName="selectContry">
                                <option value="" disabled>Select Country</option>
                                <option>India</option>
                                <option>US</option>
                            </select>
                            <div *ngIf="profileForm.get('selectContry').errors?.required && submitted"
                                class="invalid-tooltip">City is required!</div>
                        </div>

                        <div class="col-12 col-lg-6 mb-4">
                            <label>Contact Number <span class="starColor">*</span> </label>
                            <div class="row">
                                <div class="col-3">
                                    <select class="form-control"
                                        style="border: none; border-bottom:1px solid #21252994;" name="">
                                        <option value="india">+91</option>
                                        <option value="us">+56</option>
                                    </select>
                                </div>
                                <div class="col-9">
                                    <input type="text"
                                        style="border: none; border-bottom:1px solid #21252994; width: 75%;"
                                        class="form-control" name="name" formControlName="contactNo"
                                        [(ngModel)]="cdf_contactNo">
                                </div>
                            </div>
                            <!-- <input type="text" style="border: none; border-bottom:1px solid #21252994;" class="form-control" 
                                    name="name" formControlName="contactNo" [(ngModel)]="cdf_contactNo"> -->
                            <div *ngIf="profileForm.get('contactNo').errors?.required && submitted"
                                class="invalid-tooltip">Contact No is required!</div>
                            <div *ngIf="profileForm.get('contactNo').errors?.pattern && submitted"
                                class="invalid-tooltip">Contact Number must be 10 digit!</div>
                        </div>

                        <div class="col-12 col-lg-6 mb-4">
                            <label>Address 1<span class="starColor">*</span></label>
                            <textarea style="border: none; border-bottom:1px solid #21252994;" class="form-control"
                                rows="1" name="address" formControlName="address" [(ngModel)]="cdf_address"></textarea>
                            <div *ngIf="profileForm.get('address').errors?.required && submitted"
                                class="invalid-tooltip">Address is required!</div>
                        </div>
                        <div class="col-12 col-lg-6 mb-4">
                            <label>Address 2<span class="starColor">*</span></label>
                            <textarea style="border: none; border-bottom:1px solid #21252994;" class="form-control"
                                rows="1" name="address" formControlName="address2"></textarea>
                            <div *ngIf="profileForm.get('address2').errors?.required && submitted"
                                class="invalid-tooltip">Address is required!</div>
                        </div>
                        <div class="col-12 col-lg-6 mb-4">
                            <label>State <span class="starColor">*</span> </label>
                            <select class="form-control" style="border: none; border-bottom:1px solid #21252994;"
                                formControlName="selectState" [(ngModel)]="cdf_state">
                                <option value="" disabled>Choose your State</option>
                                <option>Maharashtra</option>
                            </select>
                            <div *ngIf="profileForm.get('selectState').errors?.required && submitted"
                                class="invalid-tooltip">State is required!</div>
                        </div>
                        <div class="col-12 col-lg-6 mb-4">
                            <label>City<span class="starColor">*</span> </label>
                            <select class="form-control" style="border: none; border-bottom:1px solid #21252994;"
                                formControlName="selectCity" [(ngModel)]="cdf_city">
                                <option value="" disabled>Choose your City</option>
                                <option>Kolhapur</option>
                                <option>Pune</option>
                            </select>
                            <div *ngIf="profileForm.get('selectCity').errors?.required && submitted"
                                class="invalid-tooltip">City is required!</div>
                        </div>
                        <div class="col-12 col-lg-6 mb-4">
                            <label>Pin Code<span class="starColor">*</span></label>
                            <input type="text" style="border: none; border-bottom:1px solid #21252994;"
                                class="form-control" name="name" formControlName="pinCode" [(ngModel)]="cdf_pincode">
                            <span></span>
                            <div *ngIf="profileForm.get('pinCode').errors?.required && submitted"
                                class="invalid-tooltip">Pin Code No is required!</div>
                            <div *ngIf="profileForm.get('pinCode').errors?.pattern && submitted"
                                class="invalid-tooltip">Invalid Pin Code!</div>
                        </div>
                        <div class="col-12 col-lg-6 mb-4">
                            <label>Gender<span class="starColor">*</span></label>
                            <select class="form-control" style="border: none; border-bottom:1px solid #21252994;"
                                formControlName="selectGender" [(ngModel)]="cdf_gender">
                                <option value="" disabled>Select Gender</option>
                                <!-- <option *ngFor="let arr of genderArray">{{arr.name}}</option> -->
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                            <div *ngIf="profileForm.get('selectGender').errors?.required && submitted"
                                class="invalid-tooltip">Gender is required!</div>
                        </div>
                        <div class="col-12 col-lg-6 mb-4">
                            <label>Qualfication </label>
                            <input class="form-control" style="border: none; border-bottom:1px solid #21252994;"
                                rows="1" name="address" formControlName="qualification" [(ngModel)]="cdf_qualification">
                            <!-- <div *ngIf="profileForm.get('qualification').errors?.required && submitted" class="invalid-tooltip">Qualification is required!</div> -->
                        </div>
                        <div class="col-12 col-lg-6 mb-4">
                            <label>Designation</label>
                            <input class="form-control" style="border: none; border-bottom:1px solid #21252994;"
                                rows="1" name="address" formControlName="designation" [(ngModel)]="cdf_designation">

                            <!-- <div *ngIf="profileForm.get('designation').errors?.required && submitted" class="invalid-tooltip">Qualification is required!</div> -->

                        </div>
                        <div class="col-12 col-lg-6 mb-4">
                            <label>Total Year's of Experience </label>
                            <select class="form-control" style="border: none; border-bottom:1px solid #21252994;"
                                formControlName="selectExperience" [(ngModel)]="cdf_yearsOfExperience">
                                <option value="" disabled>Select Year's of Experience</option>
                                <option *ngFor="let exp of yearsOfExp" value="{{exp.value}}">{{exp.YearOfExperience}}</option>
                            </select>
                            <!-- <div *ngIf="profileForm.get('selectExperience').errors?.required && submitted" class="invalid-tooltip">Gender is required!</div>  -->
                        </div>
                        <div class="col-12 col-lg-6 mb-4">
                            <label>Mode of Work </label>
                            <select class="form-control" style="border: none; border-bottom:1px solid #21252994;"
                                formControlName="selectModeOfWork" [(ngModel)]="cdf_modeOfWork">
                                <option value="" disabled>Select Mode of Work</option>
                                <option *ngFor="let work of ModeOfWork" value="{{work.value}}">{{work.name}}</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-6 mb-4">
                            <label>Field of Work</label>
                            <select class="form-control" style="border: none; border-bottom:1px solid #21252994;"
                                formControlName="selectFieldOfWork" [(ngModel)]="cdf_fieldOfWork">
                                <option value="" disabled>Select Field of Work</option>
                                <option *ngFor="let work of FieldOfWork">{{work.fieldOfWorkList}}</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-6 mb-4">
                            <label>Industry Sector</label>
                            <select class="form-control" style="border: none; border-bottom:1px solid #21252994;"
                                formControlName="selectIndustrySector" [(ngModel)]="cdf_industrySector">
                                <option value="" disabled>Select Mode of Work</option>
                                <option *ngFor="let sector of IndustrySector">{{sector.IndustrySector}}</option>
                            </select>
                        </div>

                        <div class="col-12 col-lg-6 mb-4">
                            <label>Description</label>
                            <textarea class="form-control" style="border: none; border-bottom:1px solid #21252994;"
                                rows="1" name="address" formControlName="description"
                                [(ngModel)]="cdf_aboutSelf"></textarea>
                            <!-- <div *ngIf="profileForm.get('address').errors?.required && submitted" class="invalid-tooltip">Address is required!</div> -->
                        </div>

                    </div>

                </form>

            </mat-card>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">school</mat-icon>
                Education
            </ng-template>
            <mat-card class="card">

                <!-- <form [formGroup]="educationForm" novalidate>
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-4">
                            <label>College Name</label>
                            <input type="text" class="form-control" name="name" formControlName="collegeName">
                            <div *ngIf="submittedEdu && educationForm.get('collegeName').errors?.required" class="invalid-tooltip">College Name is required!</div>
                        </div>
                        <div class="col-12 col-lg-6 mb-4">
                            <label>Degree Name</label>
                            <input type="text" class="form-control" name="name" formControlName="degreeName">
                            <div *ngIf="submittedEdu && educationForm.get('degreeName').errors?.required" class="invalid-tooltip">Degree Name is required!</div>
                        </div>
                        <div class="col-12 col-lg-6 mb-4">
                            <label>Description</label>
                            <input type="text" class="form-control" name="name" formControlName="description">
                        </div>
                        <div class="col-12 col-lg-6 mb-4">
                            <label>Grade</label>
                            <input type="text" class="form-control" name="name" formControlName="grade">
                        </div>
                    </div>

                    <div class="educationBtnDiv">
               
                        <button class="btn btn-primary eduBtn" type="submit" (click)="onEducationSubmit()" >Save</button>
                       
                        <button class="btn btn-primary eduBtn" type="submit">Update</button>
                        
                        <button class="btn btn-primary eduBtn" type="submit">Delete</button>
                        
                        <button class="btn btn-primary eduBtn" type="submit" (click)="clearEduForm()">Clear</button>
                        
                    </div>
                </form> -->

                <div class="tableDiv">
                    <div class="addBtnDiv">
                        <button class="btn btn-primary addBtn" (click)="addRow()">Add Education</button>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="tableHead">
                                <th scope="col">Actions</th>
                                <th scope="col">College Name</th>
                                <th scope="col">Degree Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Grade / Mark</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of educationArray; let i = index;">
                                <td class="actionCol">
                                    <button mat-icon-button class="iconBtn" (click)="deleteRow(data)">
                                        <mat-icon class="deleteIcon">delete</mat-icon>
                                    </button>
                                    <button mat-icon-button class="iconBtn"
                                        (click)="editEduData(i)"
                                        *ngIf="!educationArray[i].isEditable">
                                        <mat-icon class="editIcon">create</mat-icon>
                                    </button>
                                    <button mat-icon-button class="iconBtn" id="saveBtn" (click)="saveRowData(educationArray[i],'save')"
                                        *ngIf="educationArray[i].isEditable">
                                        <mat-icon class="saveIcon">save</mat-icon>
                                    </button>
                                    <!-- <button (click)="deleteRow(i)">Delete</button>   
                                    <button (click)="educationArray[i].isEditable=!educationArray[i].isEditable" *ngIf="!educationArray[i].isEditable">Edit</button> 
                                    <button class="saveBtn" (click)="saveRowData(educationArray[i])" *ngIf="educationArray[i].isEditable">Save</button> -->
                                </td>
                                <td>
                                    <!-- <div *ngIf="!educationArray[i].isEditable">{{educationArray[i].name}}</div>
                                <div *ngIf="educationArray[i].isEditable">
                                <input type="text" [(ngModel)]="educationArray[i].name">
                                </div> -->

                                    <input style="border: none; border-bottom:1px solid #21252994;"
                                        [(ngModel)]="data.college" class="form-control" type="text"
                                        [disabled]="!educationArray[i].isEditable" />
                                </td>
                                <td>
                                    <input style="border: none; border-bottom:1px solid #21252994;"
                                        [(ngModel)]="data.degree" class="form-control" type="text"
                                        [disabled]="!educationArray[i].isEditable" />
                                </td>
                                <td>
                                    <input style="border: none; border-bottom:1px solid #21252994;"
                                        [(ngModel)]="data.description" class="form-control" type="text"
                                        [disabled]="!educationArray[i].isEditable" />
                                </td>
                                <td>
                                    <input style="border: none; border-bottom:1px solid #21252994;"
                                        [(ngModel)]="data.grade" class="form-control" type="text"
                                        [disabled]="!educationArray[i].isEditable" />
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </mat-card>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">work</mat-icon>
                Experience
            </ng-template>

            <mat-card class="cardBackground">
                <div class="tableDiv">
                    <div class="addBtnDiv">

                        <label>Add Your LinkedIn Profile Link : </label> &nbsp;
                        <input type="text" style="border: none; border-bottom:1px solid #21252994;">
                        <br>
                        <button class="btn btn-primary addBtn" (click)="addExperienceRow()">Add Experience</button>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr class="tableHead">
                                <th scope="col">Actions</th>
                                <th scope="col">Company Name</th>
                                <th scope="col">Position</th>
                                <th scope="col">Job Start Date</th>
                                <th scope="col">Job End Date</th>
                                <th scope="col">Location</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of experienceArray; let i = index;">
                                <td class="actionCol">
                                    <button mat-icon-button class="iconBtn" (click)="deleteExpericeRow(i)">
                                        <mat-icon class="deleteIcon">delete</mat-icon>
                                    </button>
                                    <button mat-icon-button class="iconBtn"
                                        (click)="experienceArray[i].isEditableExperiece=!experienceArray[i].isEditableExperiece"
                                        *ngIf="!experienceArray[i].isEditableExperiece">
                                        <mat-icon class="editIcon">create</mat-icon>
                                    </button>
                                    <button mat-icon-button class="iconBtn"
                                        (click)="saveExperienceData(experienceArray[i])"
                                        *ngIf="experienceArray[i].isEditableExperiece">
                                        <mat-icon class="saveIcon">save</mat-icon>
                                    </button>
                                </td>
                                <td>
                                    <input style="border: none; border-bottom:1px solid #21252994;"
                                        [(ngModel)]="experienceArray[i].companyName" class="form-control" type="text"
                                        [disabled]="!experienceArray[i].isEditableExperiece" />
                                </td>
                                <td>
                                    <input style="border: none; border-bottom:1px solid #21252994;"
                                        [(ngModel)]="experienceArray[i].position" class="form-control" type="text"
                                        [disabled]="!experienceArray[i].isEditableExperiece" />
                                </td>
                                <td>
                                    <input style="border: none; border-bottom:1px solid #21252994;"
                                        [(ngModel)]="experienceArray[i].jobStartDate" class="form-control" type="date"
                                        [disabled]="!experienceArray[i].isEditableExperiece" />
                                </td>
                                <td>
                                    <input style="border: none; border-bottom:1px solid #21252994;"
                                        [(ngModel)]="experienceArray[i].jobEndDate" class="form-control" type="date"
                                        [disabled]="!experienceArray[i].isEditableExperiece" />
                                </td>
                                <td>
                                    <input style="border: none; border-bottom:1px solid #21252994;"
                                        [(ngModel)]="experienceArray[i].location" class="form-control" type="text"
                                        [disabled]="!experienceArray[i].isEditableExperiece" />
                                </td>
                                <td>
                                    <textarea style="border: none; border-bottom:1px solid #21252994;"
                                        [(ngModel)]="experienceArray[i].jobDescription" class="form-control" type="text"
                                        [disabled]="!experienceArray[i].isEditableExperiece"></textarea>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </mat-card>
        </mat-tab> 

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">account_balance</mat-icon>
                Bank Details
            </ng-template>

            <mat-card class="cardBackground">

                <br>
                <form [formGroup]="bankDetailForm" novalidate (ngSubmit)="submitBankDetails()">
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-4">
                            <!-- <label class="form-group has-float-label"> -->
                            <label>Account Holder Name<span class="starColor">*</span></label>
                            <input style="border: none; border-bottom:1px solid #21252994;" type="text"
                                class="form-control" name="name" formControlName="accountHolderName">
                            <!-- <span>Account Holder Name<span class="starColor">*</span></span> -->
                            <div *ngIf="submittedBank && bankDetailForm.get('accountHolderName').errors?.required"
                                class="invalid-tooltip">Account Holder Name is required!</div>
                            <!-- </label> -->
                        </div>
                        <div class="col-12 col-lg-6 mb-4">
                            <!-- <label class="form-group has-float-label"> -->
                            <label>Account Number<span class="starColor">*</span></label>
                            <input style="border: none; border-bottom:1px solid #21252994;" type="text"
                                class="form-control" name="name" formControlName="accountNo">
                            <!-- <span>Account Number<span class="starColor">*</span></span> -->
                            <div *ngIf="submittedBank && bankDetailForm.get('accountNo').errors?.required"
                                class="invalid-tooltip">Account Number is required!</div>
                            <!-- </label> -->
                        </div>
                        <div class="col-12 col-lg-6 mb-4">
                            <!-- <label class="form-group has-float-label"> -->
                            <label>Bank Name<span class="starColor">*</span></label>
                            <input style="border: none; border-bottom:1px solid #21252994;" type="text"
                                class="form-control" name="name" formControlName="bankName">
                            <!-- <span>Bank Name<span class="starColor">*</span></span> -->
                            <div *ngIf="submittedBank && bankDetailForm.get('bankName').errors?.required"
                                class="invalid-tooltip">Bank Name is required!</div>
                            <!-- </label> -->
                        </div>
                        <div class="col-12 col-lg-6 mb-4">
                            <!-- <label class="form-group has-float-label"> -->
                            <label>Branch Name<span class="starColor">*</span></label>
                            <input style="border: none; border-bottom:1px solid #21252994;" type="text"
                                class="form-control" name="name" formControlName="branchName">
                            <!-- <span>Branch Name<span class="starColor">*</span></span> -->
                            <div *ngIf="submittedBank && bankDetailForm.get('branchName').errors?.required"
                                class="invalid-tooltip">Branch Name is required!</div>
                            <!-- </label> -->
                        </div>
                        <div class="col-12 col-lg-6 mb-4">
                            <!-- <label class="form-group has-float-label"> -->
                            <label>IFSC Code<span class="starColor">*</span></label>
                            <input style="border: none; border-bottom:1px solid #21252994;" type="text"
                                class="form-control" name="name" formControlName="ifscCode">
                            <!-- <span>IFSC Code<span class="starColor">*</span></span> -->
                            <div *ngIf="submittedBank && bankDetailForm.get('ifscCode').errors?.required"
                                class="invalid-tooltip">IFSC Code is required!</div>
                            <!-- </label> -->
                        </div>
                    </div>

                    <div class="educationBtnDiv">
                        <button class="btn btn-primary eduBtn" type="submit">Save</button>
                    </div>
                </form>

            </mat-card>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">description</mat-icon>
                My Documents
            </ng-template>

            <mat-card class="cardBackground">My Documents Details
                <table class="table">
                    <thead class="tableHead">
                        <tr>
                            <th scope="col">Sr.No</th>
                            <th scope="col">Document Name</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="text-align: center;" *ngFor="let doc of myDocumentArray">
                            <td>{{doc.srNO}}</td>
                            <td>{{doc.docName}}</td>
                            <td>{{doc.status}}</td>
                        </tr>
                    </tbody>
                </table>

            </mat-card>
        </mat-tab>
    </mat-tab-group>
</div>