<ion-header>
  <ion-toolbar class="customToolbar">
    <ion-title class="customColor">{{'course-details.title'|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="view-courses" class="customColor"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
         {{'course-details.Course Name'|translate}}:
      </ion-col>

      <ion-col class="col1">
        <span> {{courseDetailData?.name}}</span> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
         {{'course-details.Institute Name'|translate}}:
      </ion-col>

      <ion-col class="col1">
        <span> {{courseDetailData?.instname}}</span> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
         {{'course-details.Institute Phone Number'|translate}}:
      </ion-col>

      <ion-col class="col1">
        <span> {{courseDetailData?.contactNo}}</span> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        {{'course-details.Location'|translate}}:
      </ion-col>

      <ion-col class="col1">
        <span> {{courseDetailData?.location}}</span> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
         {{'course-details.Address'|translate}}:
      </ion-col>

      <ion-col class="col1">
        <span> {{courseDetailData?.instututeDetail}}</span> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
         {{'course-details.Course duration'|translate}}:
      </ion-col>

      <ion-col class="col1">
        <span> {{courseDetailData?.duration}}</span> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        {{'course-details.Course Details'|translate}}:
      </ion-col>

      <ion-col class="col1">
        <span> {{courseDetailData?.details}}</span> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
         {{'course-details.Fees'|translate}}:
      </ion-col>

      <ion-col class="col1">
        <span> {{courseDetailData?.fees}}</span> 
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
