<ion-header>
  <ion-toolbar class="customToolbar">
    <ion-title class="customColor">{{'job-details.title'|translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="view-jobs" class="customColor"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <h5>Job Details</h5> -->
  <ion-grid>

    <ion-row>
      <ion-col>
         {{'job-details.Job Name'|translate}}:
      </ion-col>

      <ion-col class="col1">
        <span> {{jobDetails?.jobName}}</span> 
      </ion-col>
    </ion-row> 

    <ion-row>
      <ion-col>
         {{'job-details.Job Details'|translate}}:
      </ion-col>

      <ion-col class="col1">
        <span> {{jobDetails?.JobDetails}}</span> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
         {{'job-details.Organisation Name'|translate}}:
      </ion-col>

      <ion-col class="col1">
        <span> {{jobDetails?.Orgname}}</span> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        {{'job-details.Qualification'|translate}}:
      </ion-col>

      <ion-col class="col1">
        <span> {{jobDetails?.qualification}}</span> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
         {{'job-details.Salary'|translate}}:
      </ion-col>

      <ion-col class="col1">
        <span> {{jobDetails?.salary}}</span> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
         {{'job-details.Address'|translate}}:
      </ion-col>

      <ion-col class="col1">
        <span> {{jobDetails?.village}}</span> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        {{'job-details.Office time'|translate}}:
      </ion-col>

      <ion-col class="col1">
        <span> {{jobDetails?.type}}</span> 
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
