.ios, .md{
    

    .scroll-content {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 1;
        overflow-x: hidden;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        will-change: scroll-position;
        contain: size style layout;
        display: flex;             // added by me
        flex-direction: column; 
      }
      
      .lower-content {
        flex-grow: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background:#ff6c36e8;
      }
      .continueText{
          color: #fff;
      }
   
}